
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:beige;
    text-align: center;

}h1{
    color:rgb(61, 9, 218);
    font-family:Arial, Helvetica, sans-serif;
}
table{border:3px solid lightskyblue;
padding:10px 20px;
margin-top: 10px;}
